/* JavaFX CSS - Leave this comment until you have at least created one rule which uses -fx-Property */

.text-field {
    -fx-background-color: white;
    -fx-border-style: solid;
}

.text-area {
    -fx-background-color: white;
    -fx-border-style: solid;
}

* {
    -fx-background-radius: 0;
}
